*:focus {
  outline: none;
}

.login-btn {
  border: none;
  padding: 0;
  border-radius: 12px;
}

.login-btn:hover {
  opacity: .7;
}

.login-btn img {
  width: 250px;
}

.login-btn:active {
  position: relative;
  top: 1px;
}

.login-wrap {
  width: 500px;
  height: 250px;
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.login-wrap .box-title {
  font-size: 3em;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(120deg, #84fab0 0%, #30B490 100%);
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

h2 {
  background: url(/image/GiztechProLogo.png) no-repeat 12px 2px/20px;
  text-align: left;
  padding-left: 40px;
  font-size: 20px;
  font-weight: bold;
}

.login-box {
  text-align: center;
}

.attention-box {
  padding: 0.5em 1em;
  margin: 1.5em;
  border-left: solid 10px #30b490;
}

.attention-box p {
  margin: 0; 
  padding: 0;
}

