.btn:focus,
.btn:active:focus,
input:focus,
.search-icon:focus {
  outline: none;
}

.avatar-img {
  width: 30px;
  border-radius: 50%;
}

.brand-header {
  padding: 30px 0 10px;
  margin: 0 20px;
  font-size: 20px;
  color: #aaa;
  border-bottom: solid 1px #ccc;
}

.main-wrap {
  margin: 30px;
  border: none;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.main-center {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  width: 100%;
}

.home-btn-wrapper {
  width: 600px;
  height: 600px;
  margin: 40px auto;
  padding: 0;
  position: relative;
}

.margin__center {
  margin: 0 auto;
}

.mt70 {
  margin-top: 70px;
}

.text-align {
  text-align: center;
}

/*buttons*/

.admin__btn {
  height: 180px;
  width: 180px;
  position: absolute;
  display: block;
  font-size: 37px;
  text-align: center;
  border-radius: 10px;
  border: solid 5px #30b490;
  background-color: #fff;
  color: #30b490;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.admin__btn:hover {
  box-shadow: 0 5px 60px rgba(40, 250, 40, .4);
  text-decoration: none !important;
  background-color: #30b490;
  color: #fff;
}

.schedule__btn__position {
  top: 0;
  left: 0;
}

.question__btn__position {
  top: 0;
  left: 210px;
}

.dailyreport__btn__position {
  top: 210px;
  left: 0;
}

.store__btn__position {
  top: 210px;
  left: 210px;
}

.user__btn__position {
  top: 0;
  left: 420px;
}

.adminuser__btn__position {
  top: 210px;
  left: 420px;
}

.access_right__btn__position {
  top: 420px;
  left: 210px;
  width: 390px;
}

.rental__btn__position {
  top: 420px;
  left: 0px;
}

.btn-admin {
  background-color: #73736f;
  border-bottom: 3px solid #3e3e3e;
  border-right: 3px solid #3e3e3e;
}

.btn-admin:hover {
  border-bottom: 1px solid #3e3e3e;
  border-right: 1px solid #3e3e3e;
}

.container__inner {
  padding: 10px 0;
}

/* 管理ユーザーCRUDに使用するクラス */

.container__box {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 11px;
}

.container__box__txt {
  margin: 0;
}
.container__box__link {
  float: right;
}

.container__inner {
  padding: 10px 0;
}

/* 管理ユーザーCRUDに使用するクラス */

.container__box {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 11px;
}

.container__box__txt {
  margin: 0;
}
.container__box__link {
  float: right;
}

.container__inner {
  padding-top: 100px;
}

.container__inner__right {
  padding-top: 100px;
}

.container__inner__top {
  padding-left: 196px;
  padding-bottom: 30px;
}

.user__btn {
  display: block;
  font-size: 34px;
  text-align: center;
  color: #30b490;
  background-color: #30b490;
  height: 250px;
  width: 190px;
  border-radius: 10px;
  border: solid 5px #30b490;
  background-color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: absolute;
}

.user__btn:hover {
  box-shadow: 0 5px 60px rgba(40, 250, 40, .4);
  text-decoration: none !important;
  background-color: #30b490;
  color: #fff;
}

.col__pd {
  padding: 15px;
}

.pm {
  margin: 30px auto;
}

/*.btn-work__schedules {
  background-color: #20895e;
  border-bottom: 3px solid #0c6641;
  border-right: 3px solid #0c6641;
}*/

.btn-work__schedules:hover {
  border-bottom: 1px solid #0c6641;
  border-right: 1px solid #0c6641;
}

/*.btn__daily__reports {
  background-color: #b3a92a;
  border-bottom: 3px solid #7d7409;
  border-right: 3px solid #7d7409;
}*/

.btn__daily__reports:hover {
  border-bottom: 1px solid #7d7409;
  border-right: 1px solid #7d7409;
}

.user-search-btn-box {
  text-align: right;
}

.background-color {
  background-color: #fff !important;
}

/********** Reset <li> ***********/

.back-btn-box {
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
}

form.user-search {
  background: #eee;
  border-radius: 5px;
  border: solid #ccc 1px;
  padding: 30px;
}

table.search-table {
  width: 100%;
  margin-top: 20px;
}

.search-header {
  margin: 0;
}

tbody.search-tbody {
  padding: 10px;
}

tbody.search-body > tr {
  width: 200px;
  margin: 10px;
}

tbody.search-body > tr > td {
  text-align: right;
}

.search-btn-box {
  text-align: right;
}

.search-tr {
  width: 100%;
}

.search-td {
  text-align: right;
  padding: 5px;
  margin: 10px;
}

.search-td.left {
  text-align: left;
}

.create-user-btn-box {
  margin-top: 100px;
}

/*-----------------------------------*/

@media screen and (max-width: 1199px) and (min-width: 767px)
{
  .btn-work__schedules {
    margin-bottom: 20px;
  }

  .btn-store {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px)
{
    .container {
        width: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin-right: 0;
    }
    .navbar-collapse {
        border-top: 1px solid #d3e0e9;
    }
    .navbar-collapse.collapse {
        display: none!important;
        /* margin: 0 -15px; */
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7px 0;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
}

@media screen and (max-width: 767px)
{
  .admin__btn {
    font-size: 30px;
    width: 185px;
  }

  .col__pd {
    padding: 80px;
  }

  .home-btn-wrapper {
    width: 400px;
    height: 800px;
  }

  .schedule__btn__position {
    top: 0;
    left: 0;
    width: 400px;
  }

  .dailyreport__btn__position {
    top: 210px;
    left: 0;
  }

  .store__btn__position {
    top: 210px;
    left: 215px;
  }

  .user__btn__position {
    top: 420px;
    left: 0px;
  }

  .adminuser__btn__position {
    top: 420px;
    left: 215px;
  }

  .access_right__btn__position {
    top: 630px;
    left: 215px;
  }

  .rental__btn__position {
    top: 630px;
    left: 0;
  }

  .btn-work__schedules {
    margin-bottom: 20px;
  }

  .btn-store {
    margin-bottom: 20px;
  }

  .user__btn {
    font-size: 30px;
    width: 300px;
    height: 150px;
  }

  .user__btn > .mt70 {
    margin-top: 50px;
  }

  .pm {
    margin: 0 auto;
  }
}

/*Kawahara Added CSS*/

.under-shadow {
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
}

.fa {
  line-height: 0;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #000;
}

a, a:focus, a:hover {
  color: #30b490;
  text-decoration: none !important;
}

.btn:hover,
.btn-wrapper .btn:hover {
  text-decoration: none !important;
  background-color: #30B490;
  border-color: #30B490;
  color: #f5f5f5;
}

.btn {
  padding: 10px 30px;
  background-color: #65d5b5;
  opacity: .9;
  color: #fff;
  border: none;
  box-shadow: 0 2px 2px #ccc;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn-small {
  padding: 5px 20px;
}

.btn-wrapper {
  text-align: right;
  padding: 20px 70px 0;
}

.btn-wrapper .btn {
  padding: 10px 15px;
  border-radius: 50%;
  border: 1px solid #30B490;
  background-color: #fff;
  color: #30b490;
  box-shadow: none;
}

.btn-bottom-wrapper {
  text-align: right;
}

.btn-bottom-wrapper.left-side {
  text-align: left;
}

.font-size {
  font-size: 40px;
  display: block;
}

.btn-edit,
.btn-delete {
  display: inline-block;
}

.delete-margin {
  margin-right: 0 !important;
}

.btn-danger {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ff6347;
  color: #fff;
  margin-left: 10px;
}

.btn-danger:hover {
  background-color: #954120;
  border-color: #78341a;
}

.user-info-list {
  font-size: 0;
  text-align: center;
}

.user-info-list > li {
  display: inline-block;
  width: 33.3%;
  font-size: 16px;
}

.profile.icon {
  color: #000;
  position: absolute;
  margin-left: -27px;
  margin-top: 33px;
  width: 14px;
  height: 6px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  border-radius: 6px 6px 0 0;
}
.profile.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px currentColor;
}

.table>thead>tr>th {
  border-bottom: 0px;
}

th {
  text-align: center;
}

.table>tbody>tr>td {
  text-align: center;
  vertical-align: middle;
}

/*admin user homepage function*/

body {
  background-color: #efeff6;
  padding-top: 70px;
}

.z-index {
  z-index: 100;
}

.search-td {
  text-align: left !important;
}

.navbar-fixed-left {
  margin-top: 70px;
  background-color: #30B490;
}

.navbar-brand {
    font-size: 20px;
    line-height: 30px;
    background: url(/image/GiztechProLogo.png) no-repeat 0px 17px/25px;
    padding-left: 30px;
}

.navbar-left-header {
  padding: 15px;
  color: #555;
  font-weight: bold;
}

.nav-left-list {
  padding-left: 10px;
}

.nav-left-list > li {
  font-size: 15px;
  margin-right: 10px;
}

.nav-left-list > li > a {
  display: block;
  color: #ddd;
  padding: 10px 20px;
}

.nav-left-list > li > a:hover {
  background-color: #3cb371;
  color: #f5f5f5;
}

.nav-left-list .fa:before {
  margin-right: 10px;
}

.container {
  width: 100%;
  padding: 10px 50px;
  margin-left: auto;
}

.content-wrapper {
  padding: 0 50px;
}

.content-inner {
  padding-right: 20px;
}

.dropdown-toggle {
  margin-right: 0;
}

.table>thead>tr>th {
    border-bottom: 0px;
    width: 200px;
}

li {
  list-style: none;
}

th {
  color: #30B490;
}

.form-control-custom {
    display: inline-block;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-custom, output {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}

/* Modal */
form.user-search {
  background-color: #fff;
}

.modal-header {
  color: #30b490;
  font-size: 30px;
  text-align: center;
}

.modalDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, .3);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  border-radius: 10px;
  background: #fff;
}

.showModal {
  opacity: 1;
  pointer-events: auto;
}

.required {
  color: #eb1313;
}

.user-navbar {
  background-color: #fff;

}

.user-navbar a {
  color: black !important;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.login-panel {
  border: 1px solid #30b490;
}

.control-label-custom {
  margin-left: 15px;
  border-left: 5px solid #30b490;
  color: #666;
}

.rental-item-name-list {
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rental-item-list>tbody>tr>td {
  height: 91px;
  vertical-align: middle;
}

.rental-item-show-list>li {
  text-align:center;
}

.question-header {
  text-align: center;
  padding: 5px 0;
}

.question-show-list>li {
  font-size: 18px;
  padding: 10px 50px;
}

.question-show-list>li>h4 {
  border-bottom: 1px solid #30b490;
}

.point-color {
  color: #c0c0c0;
}

.form-size-small {
  width: 30%;
}

.table-column {
  width: 150px;
}

.td-text {
  padding: 10px 20px !important;
  text-align: left !important;
}

.nav-user {
  margin-top: 7px;
}

.dropdown {
  display: inline-block;
  top: 2px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
}

.user-name-box {
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  color: inherit;
}

.user-name-box:hover {
  color: inherit;
  opacity: .8;
}

.user-name-box > img {
  width: 30px;
  border-radius: 50%;
}


/*
 * user質問投稿css
 */

.category-wrap {
  padding: 0 50px;
  font-size: 0;
}

.category-wrap .btn {
  border-radius: 10px 10px 0 0;
  font-size: 10px;
  padding: 8px 20px;
  font-weight: 1000;
  box-sizing: border-box;
  box-shadow: none;
  color: #636b6f;
}

.category-wrap .btn:hover,
.category-wrap .btn.selected,
.category-wrap .front-1,
.category-wrap .back-2,
.category-wrap .infra-3,
.category-wrap .others-4 {
  background-color: #fff!important;
  border-bottom: #fff!important;
  color: #636b6f;
}

.category-wrap .btn.all {
  background-color: #ffffb7;
  border: 2px solid #ffffb7;
}

.category-wrap .btn.front {
  background-color: #ffdbb7;
  border: 2px solid #ffdbb7;
}

.category-wrap .btn.back {
  background-color: #b7ffff;
  border: 2px solid #b7ffff;
}

.category-wrap .btn.infra {
  background-color: #b7ffb7;
  border: 2px solid #b7ffb7;
}

.category-wrap .btn.others {
  background-color: #e2c6ff;
  border: 2px solid #e2c6ff;
}

.category-wrap .btn.all:hover,
.category-wrap .all.selected {
  border-color: #f0e68c;
}

.category-wrap .btn.front:hover,
.category-wrap .front-1 {
  border-color: #ffbf7f;
}

.category-wrap .btn.back:hover,
.category-wrap .back-2 {
  border-color: #afeeee;
}

.category-wrap .btn.infra:hover,
.category-wrap .infra-3 {
  border-color: #90ee90;
}

.category-wrap .btn.others:hover,
.category-wrap .others-4 {
  border-color: #bf7fff;
}

.panel-heading {
  padding: 10px 15px 5px!important;
}

.panel-heading img,
.panel-heading p {
  display: inline-block;
}

.panel-heading img {
  margin-bottom: 5px;
}

.panel-heading p {
  margin: 0 0 0 5px;
}

.panel-heading .question-date {
  font-size: 12px;
  margin-left: 10px;
}


/**
 * 日報
 *
 */
.btn-wrapper.daily-report form {
  display: inline-block;
}

.btn-wrapper.daily-report form input {
  display: inline-block;
  width: 150px;
  font-size: 12px;
  color: #aaa;
  border-radius: 20px;
}

/**
 * 検索box
 *
 */
.search-box {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.search-box .search-form {
  border-radius: 20px;
}

.search-box .search-form:focus {
  border-color: #ccd0d2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.search-box .search-icon {
  position: absolute;
  top: 6px;
  right: 10px;
  background: none;
  border: none;
  color: #ccc;
}

.search-box .search-icon:hover {
  color: #30b490;
}


/**
 * 質問コメント
 *
 */
.comment-list {
  padding: 30px 50px 10px;
}

.comment-box {
  padding: 30px 50px;
}

.comment-title {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.comment-title img,
.comment-title p {
  display: inline-block;
}

.comment-title img {
  margin-bottom: 5px;
}

.comment-title p {
  font-weight: bold;
  margin: 0 0 0 8px;
}

.comment-title .comment-date {
  font-size: 12px;
  font-weight: inherit;
}

.comment-body {
  margin-bottom: 10px;
}

.comment-body textarea {
  height: 100px;
}

.comment-bottom {
  text-align: right;
}

.comment-bottom button {
  padding: 5px 20px;
}

.comment-wrap {
  margin-bottom: 30px;
}

.comment-wrap .comment-body {
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-size: 12px;
}

.comment-wrap .comment-title {
  border: none;
}

.comment-wrap .comment-body:before {
  content: '';
  position: absolute;
  left: 10px;
  top: -10px;
  display: block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
  border-left: 10px solid transparent;
}


/**
 * 勤怠マイページ
 *
 */
.row.absent-row {
  background-color: #ffcccc;
}

.my-info {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #65d5b5;
  opacity: .8;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 2px #ccc;
  margin-bottom: 30px;
  padding: 15px;
}

.my-info.day-info {
  background-color: #ffbf7f;
  margin-right: 10px;
}

.my-info p {
  text-align: left;
}

.my-info .userinfo-box {
  float: left;
  position: absolute;
  bottom: 15px;
}

.my-info .study-hour {
  float: right;
  margin: 0;
  position: absolute;
  right: 15px;
  bottom: 0;
}

.my-info .study-hour span {
  font-size: 45px;
  margin: 0 10px;
}

.my-info img {
  width: 40px;
  border-radius: 50%;
}



